<%- include('../includes/header.ejs') %>
<div class=pokemons>
    <h1>DEAR <%= userName %> <%= userSurname %>!</h1>
    <p>You account was deleted!</p>
</div>
<%- include('../includes/footer.ejs', {SITE}) %>
